body {
    font-family: 'メイリオ', sans-serif;
    margin: 0;
    
}

.hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

.bar {
    width: 40px;
    height: 2.5px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-content {
    position: fixed;
    top: 0;
    right: -250px; /* メニューを画面外に隠す */
    width: 250px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 997; /* メニューコンテンツを最前面に表示 */
    transition: right 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 透明度を調整 */
    z-index: 998; /* メニューコンテンツよりも背面に表示 */
    display: none;
}
.overlay.open {
    display: block; /* メニューコンテンツが表示されたときにオーバーレイを表示 */
}


.menu-content.open {
    right: 0; /* メニューを画面内に表示 */
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}






.head-box {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000; /* テキストの色 */
    height: 70px;
    width: 100%;
    display: flex;
}

.header{
    float: left;
}

.header-left{
    display: flex;
    align-items: flex-end;
    height: auto;
    width: 30%;
}

.title-text {
    padding-left: 45px;
    padding-bottom: 4px;
    
    margin: 0;

    font-size: 160%;
}


.header-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    height: auto;
    width: 70%;
    overflow: hidden;

    font-weight: 500;
    
}

.header-right-title {
    font-size: 100%;
}

nav {
    display: flex;
}

nav ul {
    list-style: none; /* リストスタイルを削除 */
    display: flex; /* 要素を横一列に並べる */
    
    justify-content: flex-end;
    display: flex;
    

    margin-bottom: 10px;
    margin-right: 24px;
    padding-right: 20px;
}

nav li {
    margin: 0 10px; /* 項目間の横の余白 */
}

nav a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #000000; /* リンクのテキスト色 */
    display: block;
    text-align: left;
}



.top-box {
    display: flex;
   
}

.first-item {
    background-color: #333;
    text-align: center;
    margin: 10px;
}

.second-item {
    background-color: #333;
    text-align: center;
    margin: 10px;
}

.box-1 {
    background-image: url('https://dl.dropboxusercontent.com/scl/fi/o7npgwv16iu7w3cczuujm/109.jpg?rlkey=vn63b326feftxkfm2dl2nrc66');
    background-size: cover; /* 画像を要素に合わせて拡大縮小 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position:relative;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* ボタンのスタイリング */
.controls {
    position: absolute; /* 絶対的な位置指定を設定 */
    bottom: 20px; /* 画像からの下側の距離を調整 */
    left: 0; /* 左端に配置 */
    right: 0; /* 右端に配置 */
    display: flex; /* ボタンを水平方向に配置 */
    justify-content: center; /* ボタンを中央揃え */
}

.controls button {
    font-size: 24px;
    background: transparent;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px; /* ボタン間の余白を設定 */
}

/* ボタンのホバースタイル */
.controls button:hover {
    background-color: #3498db;
    color: #fff;
}



.moji{
    font-size: 100%;
}


@media screen and (max-width:401px) {

    * {
        float: none;
        position: static;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    .title-text {
        font-size: 20px;
    }

	.header-right{
        display: none;
    }
}
