body {
    
    font-family: 'メイリオ', sans-serif;
    margin: 0;
}

@media screen and (max-width:480px) {

	/*　画面サイズが480px以下の場合ここの記述が適用される　*/

}

.hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    z-index: 9997;
}

.menu-content {
    position: fixed;
    top: 0;
    right: -1670px;
    width: 100%; /* 画面幅いっぱいに設定 */
    height: 100%;
    background-color: white;
    transition: right 0.8s ease;
    opacity: 0.8;
    
}

.menu-content-block {
    padding-top: 100px;
    padding-left: 50px;
}

.menu-content ul {
    padding-left: 20px; /* リスト項目の左の余白を設定 */
    list-style: none;
}

.menu-content li {
    margin: 10px 0; /* 各リスト項目の上下のマージンを設定 */
    padding-left: 20px;
    font-size: 30px; /* テキストのフォントサイズを設定 */
    
}

.hamburger-menu .bar {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-content.open {
    right: 0; /* メニューを画面内に表示 */
}

.menu-content .menu-item {
    width: 100%; /* 画面幅いっぱいに設定 */
    /* 他のスタイル */
}



.head-box {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000; /* テキストの色 */
    height: 70px;
    width: 100%;
    display: flex;
}

.header{
    float: left;
}

.header-left{
    display: flex;
    align-items: flex-end;
    height: auto;
    width: 40%;
}

.title-text {
    font-size: 30px; /* 大きなテキストのフォントサイズを設定 */
    padding-left: 25px;
    margin-top: 10px;
    margin-left: 20px;

    margin: 0;
}


.header-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    height: auto;
    width: 60%;
}

nav ul {
    list-style: none; /* リストスタイルを削除 */
    display: flex; /* 要素を横一列に並べる */
    
    text-align: right;

    justify-content: flex-end;
    
    margin-bottom: 10px;
    margin-right: 24px;

    padding-right: 20px;

    font-size: 10px;
}

nav li {
    margin: 0 10px; /* 項目間の横の余白 */
}

nav a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #000000; /* リンクのテキスト色 */
}

.top-box {
    display: flex;
   
}

.first-item {
    background-color: #333;
    text-align: center;
    margin: 10px;
}

.second-item {
    background-color: #333;
    text-align: center;
    margin: 10px;
}

.box-1 {
    background-image: url('https://dl.dropboxusercontent.com/scl/fi/o7npgwv16iu7w3cczuujm/109.jpg?rlkey=vn63b326feftxkfm2dl2nrc66');
    background-size: cover; /* 画像を要素に合わせて拡大縮小 */
    background-repeat: no-repeat; /* 画像を繰り返し表示しない */
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position:relative;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* ボタンのスタイリング */
.controls {
    position: absolute; /* 絶対的な位置指定を設定 */
    bottom: 20px; /* 画像からの下側の距離を調整 */
    left: 0; /* 左端に配置 */
    right: 0; /* 右端に配置 */
    display: flex; /* ボタンを水平方向に配置 */
    justify-content: center; /* ボタンを中央揃え */
}

.controls button {
    font-size: 24px;
    background: transparent;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px; /* ボタン間の余白を設定 */
}

/* ボタンのホバースタイル */
.controls button:hover {
    background-color: #3498db;
    color: #fff;
}